<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/admin/css/base.css" />
</head>
<body>
    <div id="content" class="flex">
        <h1>Currencies in CHF</h1>
        {% if currency_list %}
        <!-- <table>
          <tr>
            <th scope="col">DATE</th>
            {% for currency in currency_list %}
              <th scope="col">{{ currency.name }}</th>
            {% endfor %}
          </tr>
          {% for currencydate in currency_list %}
            {% ifchanged currencydate %}
            <tr>{{ currency.date }}
              {% for currency in currency_list %}
                <td>{{ currency.exchange_rate_to_chf }}</td>
              {% endfor %}
            </tr>
            {% endifchanged %}
          {% endfor %}
        </table> -->

        <br>
        <p> {{ message }} </p>
        <br>
        <ul>
            {% for currency in currency_list %}
                <li>
                  {{ currency.date }} :
                  {{ currency.name }} :
                  {{ currency.exchange_rate_to_chf }}
                </li>
            {% endfor %}
        </ul>
        <br>
        <!-- Development helpers: -->
        raw_data
        <ul>
            {% for key, value in raw_data.items %}
                <li>
                  {{ key }} :
                  {{ value }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="alert">
              Something whent totaly wrong.
            </p>
        {% endif %}
        <br>
        today
        <ul>
            <li>
              {{ today }}
            </li>
        </ul>
        <br>
        unique_dates_list
        <ul>
            {% for key in unique_dates_list %}
                <li>
                  {{ key }}
                </li>
            {% endfor %}
        </ul>
        <br>
        unique_currencies_list
        <ul>
            {% for key in unique_currencies_list %}
                <li>
                  {{ key }}
                </li>
            {% endfor %}
        </ul>
        <br>
        count_date
        <ul>
                <li>
                  {{ count_date }}
                </li>
        </ul>
        <br>
        count_currencies
        <ul>
                <li>
                  {{ count_currencies }}
                </li>
        </ul>
        <br>
        currencies_list
        <ul>
            {% for key in currencies_list.values %}
                <li>
                  {{ key }}
                </li>
            {% endfor %}
        </ul>
        currency_dict
        <ul>
            {% for key, value in currency_dict %}
                <li>
                  {{ key }}
                </li>
                <li>
                  {{ value }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
