{% extends 'webshop/base.html' %}

{% block section_title %}Registration{% endblock %}

{% block content %}
 {% if profile_form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
 {% endif %}
  <form id="register" name="register" action="" method="post" novalidate>
    <table>
      {{ user_form.as_table }}
      {{ profile_form.as_table }}
    </table>
    {% csrf_token %}
    <button name="button_register" type="submit">Register</button>
  </form>
{% endblock %}
