{% extends "webshop/base.html" %}
{% block section_title %}{{ article.name }}{% endblock %}
{% block content %}
    <h3>Description</h3>
    <p>{{ article.description }}</p>
    <p><b>Stock:</b> {{ article.stock }}</p>
    <p><b>Status:</b> {{ article.status }}</p>
    <p><b>Price:</b> {{ article.price_in_chf }} {{ currency_name }}</p>
    <form id="amount" action="" method="POST" novalidate>
      {{ amount.as_p }}
      <input type="submit" value="Add to Cart" />
      {% csrf_token %}
    </form>
    {% for picture in picture_list %}
        <p><img src="{{ MEDIA_URL }}{{ picture.image }}" width="200" /></p>
    {% endfor %}
{% endblock %}
