<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/admin/css/base.css" />
</head>
<body>
    <div id="content" class="flex">
        <h1>{% block section_title %}Music Instrument Shop{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    {% block footer %}
    <p><font size="1">This is a case study project of Ivan Hörler and Andreas Zweili.
    It is a school project/excercise and has no commercial intent.</font></p>
    {% endblock %}
</footer>
</html>
