{% extends "webshop/base.html" %}
{% block section_title %}<h1>CHECKOUT</h1>{% endblock %}
{% block content %}
    <h3>Preview your Purchase:</h3>
    <h4>Shipping Address:</h4>
    {% if user_list %}
    <p><b>Salutation: </b>{{ person.salutation }}</p>
    <p><b>Firstname: </b>{{ request.user.first_name }}</p>
    <p><b>Lastname: </b>{{ request.user.last_name }}</p>
    <p><b>Street: </b>{{ person.street_name }}</p>
    <p><b>Streetnumber: </b>{{ person.street_number }}</p>
    <p><b>City: </b>{{ person.city }}</p>
    {% else %}
      <p class="alert alert-danger">
        <strong>
          Something whent wrong. Your User is incomplete.
        <strong>
      </p>
    {% endif %}
    {% if articles_list %}
    <h4>Articles:</h4>
      <table class="table">
        <tr class="table_header">
          <th scope="col">POS.</th>
          <th scope="col">ART#</th>
          <th scope="col">NAME</th>
          <th scope="col">STOCK</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">PRICE p.pce.</th>
          <th scope="col">POSITION PRICE</th>
        </tr>
        {% for article in articles_list %}
          <tr class="table_content">
            <td scope="col">{{ article.id }}</td>
            <td scope="col">{{ article.article.id }}</td>
            <td scope="col">
              <a href="{% url 'details' article.article.id %}">
                {{ article.article.name }}
              </a>
            </td>
            <td scope="col">{{ article.article.stock }}</td>
            <td scope="col">
              {{ article.amount }}
            </td>
            <td scope="col">
              {{ article.article.price_in_chf }}
              {{ currency_name }}
            </td>
            <td scope="col">{{ article.position_price }} {{ currency_name }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td scope="col" colspan="7" class="text-right">
            Total: {{ total }} {{ currency_name }}
          </td>
        </tr>
      </table>
    {% else %}
      <p class="alert alert-danger">
        <strong>
          Something whent wrong. Your cart is empty.
        <strong>
      </p>
    {% endif %}
    <p class="alert text-danger">
      <strong>
        {{ message }}
      <strong>
    </p>
{% endblock %}
