{% block nav %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        HOME
      </a>
      <ul class="nav navbar-nav">
        <li><a href="#">CART</a></li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'profile' %}">PROFILE</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">LOGOUT</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">LOGIN</a>
        </li>
        {% endif %}
        <li class="dropdown">
            {% if article_view %}
          <form id="currency" action="" method="POST" novalidate>
            {{ currencies_form.as_ul }}
            <li>
              <input type="submit" value="Select">
            </li>
          {% csrf_token %}
          </form>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
