{% extends "webshop/base.html" %}
{% load customfilters %}
{% block section_title %}Order{% endblock %}
{% block content %}
  <h1> Your order was submitted. </h1>
  <h3> Thank you for Purchase. </h3>
  <h3>List of Items in your Shopping Cart:</h3>
  {% if order_position_list %}
    <table class="table price-table">
      <tr class="table_header">
        <th scope="col">POS.</th>
        <th scope="col">ART#</th>
        <th scope="col">NAME</th>
        <th scope="col">STOCK</th>
        <th scope="col">AMOUNT</th>
        <th scope="col" class="price-label">PRICE p.pce.</th>
        <th scope="col" class="price-label">POSITION PRICE</th>
      </tr>
      {% for order_position in order_position_list %}
        <tr class="table_content">
          <td scope="col">{{ order_position.id }}</td>
          <td scope="col">{{ order_position.article.id }}</td>
          <td scope="col">
            <a href="{% url 'details' order_position.article.id %}">
              {{ order_position.article.name }}
            </a>
          </td>
          <td scope="col">{{ order_position.article.stock }}</td>
          <td scope="col">{{ order_position.amount }}</td>
          <td scope="col" class="price-value">
            {{ order_position.article.price_in_chf }}
            {{ currency_name }}
          </td>
          <td scope="col" class="price-value">
            {{ order_position.position_price }} {{ currency_name }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td scope="col" colspan="5"class="text-right">
        <td scope="col" class="price-value">
          <dl><dt>Total:</dl></dt></td>
        <td scope="col" class="price-value">
           <dl><dt>{{ total }} {{ currency_name }}</dl></dt>
        </td>
      </tr>
    </table>
  {% else %}
    <p class="alert alert-danger">
      <strong>
        This order is empty. Howcome?
      <strong>
    </p>
  {% endif %}
  <p class="alert text-danger">
    <strong>
      {{ message }}
    <strong>
  </p>
{% endblock %}
